.DS_Store
.ipynb_checkpoints/
__pycache__/

# LaTeX source
*.tex

# LaTeX compilation artifacts (keep the final PDFs)
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.lol
*.lot
*.maf
*.mtc*
*.nlo
*.nls
*.run.xml
*.spl
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
*.xdv
*.thm
*.loe
*.tdo
*.listing
*.pyg
*.pygstyle
*.pygtex
_minted*/
*.sage.sage
*.sage.scmd
*.sage.sout
*.sageplot/
